dist
.direnv
.env*
!.env.example
!.envrc.example
.aws/
cosign*
image-refs.txt
.registry-data
**/.*.env
**/*.secret
**/rsa_*
**/*.key
**/*.pem
bin/**
kubectl
.task
work/**
!work/.gitkeep
.vscode
.ansible
**/persistence.xml
**/postgresql.yaml
**/polaris.env
notebooks/verify_*.ipynb
scripts/explore_catalog.sql
.local
polaris-secrets.yaml
polaris.yaml
.snow-utils/