# Copyright 2025 Snowflake Inc.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
# This file contains the secret structure needed for the Polaris Helm chart deployment.
# These secrets need to be created before deploying the Polaris HelmChart.
#
# NOTE: This is a template file. You need to:
# 1. Generate RSA key pair for authentication
# 2. Get PostgreSQL credentials from the postgresql HelmChart deployment
# 3. Fill in the base64-encoded values below
#
# To generate RSA keys:
#   ssh-keygen -t rsa -b 4096 -m PEM -f rsa_key -N ""
#   base64 < rsa_key
#   base64 < rsa_key.pub
#
# To get PostgreSQL password:
#   kubectl get secret postgresql -n polaris -o jsonpath='{.data.password}' | base64 -d

apiVersion: v1
kind: Secret
metadata:
  name: polaris-credentials
  namespace: polaris
type: Opaque
data:
  # Base64-encoded private key (PEM format)
  private-key: "{{ lookup('file', '{{ plf_polaris_dir }}/rsa_key') | b64encode }}"
  # Base64-encoded public key (PEM format)
  public-key: "{{ lookup('file', '{{ plf_polaris_dir }}/rsa_key.pub') | b64encode }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: polaris-db-credentials
  namespace: polaris
type: Opaque
stringData:
  # PostgreSQL username
  username: "{{ plf_jdbc_username }}"
  # PostgreSQL password - this should match the password from the postgresql HelmChart
  password: "{{ plf_jdbc_password }}"
  # JDBC URL for PostgreSQL connection
  jdbcUrl: "jdbc:postgresql://postgresql.polaris.svc.cluster.local:5432/polaris"
