AWS_ENDPOINT_URL={{ plf_aws_endpoint_url }}
AWS_REGION={{ plf_aws_region }}
AWS_ACCESS_KEY_ID={{ plf_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{  plf_aws_secret_access_key }}
POLARIS_AUTHENTICATION_TOKEN_BROKER_TYPE=rsa-key-pair
POLARIS_AUTHENTICATION_TOKEN_BROKER_RSA_KEY_PAIR_PUBLIC_KEY_FILE=/polaris/credentials/public-key
POLARIS_AUTHENTICATION_TOKEN_BROKER_RSA_KEY_PAIR_PRIVATE_KEY_FILE=/polaris/credentials/private-key
POLARIS_REALM_CONTEXT_REALMS={{ plf_realm }}
POLARIS_REALM_CONTEXT_HEADER_NAME=Polaris-Realm
POLARIS_REALM_CONTEXT_REQUIRE_HEADER=false
POLARIS_PERSISTENCE_TYPE=relational-jdbc
QUARKUS_DATASOURCE_USERNAME={{ plf_jdbc_username }}
QUARKUS_DATASOURCE_PASSWORD={{ plf_jdbc_password }}
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgresql.polaris.svc.cluster.local:5432/{{ plf_polaris_database }}
JAVA_OPTS_APPEND=-Dquarkus.log.level=DEBUG -Dquarkus.log.console.level=DEBUG -Dquarkus.log.category."org.apache.polaris".level=DEBUG -Dquarkus.log.category."org.apache.polaris".min-level=TRACE