apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: ${K3D_CLUSTER_NAME}
servers: 1
agents: 1
image: "rancher/k3s:${K3S_VERSION}"
ports:
  # RustFS S3 API - 9000 set to nodeport 31900 and it will be accessible from host using 9000
  - port: 9000:31900
    nodeFilters:
      - loadbalancer
  # RustFS Console - 9001 set to nodeport 31901 and it will be accessible from host using 9001
  - port: 9001:31901
    nodeFilters:
      - loadbalancer
  # REST Catalog - polaris 18181 set to port 32181 and it will be accessible via 8181
  - port: 18181:32181
    nodeFilters:
      - loadbalancer
registries: # define how registries should be created or used
  create: # creates a default registry to be used with the cluster; same as `--registry-create registry.localhost`
    name: registry.localhost
    host: "0.0.0.0"
    hostPort: "5001"

volumes:
  # Deploy PostgreSQL
  - volume: ${FEATURES_DIR}/features/postgresql.yaml:/var/lib/rancher/k3s/server/manifests/postgresql.yaml
    nodeFilters:
      - server:*
  # Deploy RustFS (S3-compatible object storage)
  - volume: ${FEATURES_DIR}/features/rustfs.yaml:/var/lib/rancher/k3s/server/manifests/rustfs.yaml
    nodeFilters:
      - server:*
  # Polaris Helm Chart and Secrets
  - volume: ${FEATURES_DIR}/features/polaris.yaml:/var/lib/rancher/k3s/server/manifests/polaris.yaml
    nodeFilters:
      - server:*
