apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: polaris

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - envs:
      - .polaris.env
    name:
      polaris-properties
      # TODO: Check if Polaris supports encrypted keys
      # - private-key-passphrase=keys/passphrase
secretGenerator:
  - envs:
      - .bootstrap-credentials.env
    name: bootstrap-credentials

resources:
  - jobs
  - polaris-secrets.yaml

labels:
  - includeSelectors: true
    pairs:
      kubernetes.io/component: polaris
